@charset "UTF-8";

/* Todas as demais midias */

/* Typical Device Breakpoints
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: de 769 até 992px
Desktop:de 992 até 1200px

Grandes Telas: acima de 1200px
*/

@media screen and (min-width:768px) {
    i#burguer {
        display: none;
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        
    }

    main {
        width: 768px;
    }
}